In [29]:
def create_diamond(n):
  # For the upper half of the diamond
  for i in range(1, n+1):
    print(" " * (n-i), end="")
    for j in range(i):
      print(chr(65 + j),end=" ")
    print()
  # For the lower half of the diamond
  for i in range(n-1,0,-1):
    print(" " * (n-i), end ="")
    for j in range(i):
       print(chr(65 + j),end=" ")
    print()

In [32]:
n = int(input("Enter number: "))
create_diamond(n)

Enter number: 3
  A
 A B
A B C
 A B
  A

In [33]:
n = int(input("Enter number: "))
create_diamond(n)

Enter number: 5
    A
   A B
  A B C
 A B C D
A B C D E
 A B C D
  A B C
   A B
    A